@import "../../scss";
.login {
  .login_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 2rem;
    color: $white;
    background-color: $theme_color;
  }
  .logo{
      text-align: center;
  }
}
