@import "../../scss";
.diy_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  letter-spacing: 5px;
  font-size: 2rem;
  color: $white;
  background-color: $theme_color;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
