@import "../../scss/index.scss";
.chat {
  position: relative;
  height: 100vh;
  background-color: $white;
  // 返回按钮
  .back_icon {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    height: 60px;
  }

  // 聊天列表
  .lists {
    position: absolute;
    top: 60px;
    padding-bottom: 44px;
    width: 100vw;
    .chat_time {
      text-align: center;
      font-size: 12px;
      color: #ada9a9;
    }
    // 别人的消息，消息靠左
    .chat_left {
      .chat_content {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        padding: 0 10px;
        height: 2rem;
        line-height: 2rem;
        background: #e5e5e5;
        border-radius: 5px;
        &::before {
          position: absolute;
          left: -5px;
          top: 20%;
          display: inline-block;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background: #e5e5e5;
        }
      }
    }

    // 本人的消息，消息靠右
    .chat_right {
      display: flex;
      justify-content: flex-end;
      .avatar {
        order: 1;
        margin-left: 10px;
      }
      .chat_content {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        padding: 0 10px;
        height: 2rem;
        line-height: 2rem;
        background: #e5e5e5;
        border-radius: 5px;
        &::before {
          position: absolute;
          right: -5px;
          top: 20%;
          display: inline-block;
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background: #e5e5e5;
        }
      }
    }

    // 改变antd-mobile的List.Item中的样式
    .am-list-body,
    .am-list-line {
      &::after {
        display: none !important;
      }
    }
    .am-list-body div:not(:last-child) .am-list-line,
    .am-list-item:not(:last-child) .am-list-line,
    .am-list-body {
      border: none;
    }
  }

  // 底部发送消息
  .sendMsg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    // height: 44px;
    border-top: 1px solid $diy_gray;
    .emoji {
      margin-right: 10px;
      line-height: 1.1rem;
    }
    // 所有表情
    .emojis_wrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      background-color: $white;
      .emojis_item {
        padding: 10px 0;
        font-size: 20px;
      }
    }
  }
}
